@page "/userdetails"
@using Microsoft.AspNetCore.Components.Authorization
@using WebApp.Services
@using SharedModels.Models
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject UserService UserService
@using System.Security.Claims

<h3>User Details</h3>

@if (User != null)
{
    <p>Email: @User.Email</p>
}
else
{
    <p>User not found.</p>
}

@code {
    private UserDTO User;

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;

        if (user.Identity.IsAuthenticated)
        {
            var emailClaim = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email);
            if (emailClaim != null)
            {
                var email = emailClaim.Value;
                User = await UserService.GetUserByEmailAsync(email);
            }
        }
    }
}
