@page "/logout"
@using WebApp.Models
@using WebApp.Services
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<h3>Logout</h3>

@code {
	protected override async Task OnInitializedAsync()
	{
		await AuthService.Logout();
		NavigationManager.NavigateTo("/");
	}
}
