@page "/orderHistory"

@using SharedModels.Models
@using WebApp.Services
@inject NavigationManager Navigation
@inherits OrderBase
@using System.Security.Claims

<h3>Order History</h3>

@if (Orders != null)
{
    <table class="table">
        <thead>
            <tr>
                <th>Order ID</th>
                <th>Date & Time</th>
                <th>See Ordered Items</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Orders)
            {
                <tr>
                    <td>@order.Id</td>
                    <td>@order.Timestamp</td>
                    <td>
                        <button @onclick="() => ShowOrderDetails(order.Id)">Details</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>No orders found.</p>
}

@code {
    private void ShowOrderDetails(string orderId)
    {
        Navigation.NavigateTo($"/orderDetails/{orderId}");
    }

    protected override async Task OnInitializedAsync()
    {
        var authenticationState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        var user = authenticationState.User;

        if (user.Identity.IsAuthenticated)
        {
            var emailClaim = user.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Email);
            if (emailClaim != null)
            {
                UserEmail = emailClaim.Value;
            }
        }

        var items = await OrderService.GetItems();
        Orders = items.Where(item => item.User == UserEmail);
    }
}
