@page "/payment"
@using SharedModels.Models
@using WebApp.Services
@inherits PaymentBase
@inject IBasketService BasketService
@inject IOrderService OrderService
@inject IPaymentService PaymentService
@inject NavigationManager Navigation

<h3 class="mb-5">Payment</h3>

@if (BasketItems == null)
{
    <h3>Loading Basket...</h3>
}
else
{
    @if (BasketItems.Any())
    {
        <div class="mb-3">
            <h4>Basket Items</h4>
            @foreach (var item in BasketItems)
            {
                <div class="d-flex justify-content-between">
                    <div>@item.Title</div>
                    <div>EUR @item.UnitPrice.ToString("0.00")</div>
                </div>
            }
        </div>

        <div class="mb-3">
            <h5>Total: EUR @(BasketItems.Sum(item => item.UnitPrice).ToString("0.00"))</h5>
        </div>

        <div class="mb-3">
            <h4>Card Details</h4>
            <div class="form-group">
                <label for="cardNumber">Card Number</label>
                <input type="text" id="cardNumber" class="form-control" placeholder="Card Number" />
            </div>
            <div class="form-group">
                <label for="expiryDate">Expiry Date</label>
                <input type="text" id="expiryDate" class="form-control" placeholder="MM/YY" />
            </div>
            <div class="form-group">
                <label for="cvv">CVV</label>
                <input type="text" id="cvv" class="form-control" placeholder="CVV" />
            </div>
        </div>

        <button type="button" class="btn btn-primary" @onclick="ConfirmOrder">
            Confirm Order
        </button>
    }
    else
    {
        <p>Your basket is empty.</p>
    }
}

@code {
    private IEnumerable<BasketItemDTO> BasketItems { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var items = await BasketService.GetItems();
        BasketItems = items.Where(item => item.User == UserEmail);
        await base.OnInitializedAsync();
    }

    private async Task ConfirmOrder()
    {
        BasketItems = await BasketService.GetItems();

        // Filter basket items for the current user
        var currentUserBasketItems = BasketItems.Where(item => item.User == UserEmail);

        if (currentUserBasketItems.Any())
        {
            decimal amount = currentUserBasketItems.Sum(item => item.UnitPrice);
            DateTime timestamp = DateTime.Now;

            // Create PaymentDTO
            PaymentDTO payment = new PaymentDTO
                {
                    Id = "123", // Dummy Data, will be filled in properly later
                    Amount = amount,
                    Timestamp = timestamp,
                    MovieIds = currentUserBasketItems.Select(item => item.MovieId).ToArray(),
                    User = UserEmail
                };

            // Create OrderDTO
            OrderDTO order = new OrderDTO
                {
                    Id = Guid.NewGuid().ToString(),
                    Amount = amount,
                    Timestamp = timestamp,
                    Movies = currentUserBasketItems.ToArray(),
                    User = UserEmail
                };

            // Add Payment and Order
            await PaymentService.AddPayment(payment);
            await OrderService.AddOrder(order);

            Navigation.NavigateTo("/orderHistory");
        }
        else
        {
            // Display a message or handle the case where the basket is empty for the current user
            Console.WriteLine("Basket is empty for the current user.");
        }
    }
}
