@page "/wishList"
@using SharedModels.Models
@inherits WishItemsBase

@if (WishedItems == null)
{
    <h3>Loading WishList...</h3>
}
else
{
    <h3 class="mb-5">Wish List</h3>

    @if (WishedItems.Any())
    {
        const int itemsPerRow = 3;
        var wishCount = WishedItems.Count();
        var wishRows = (int)Math.Ceiling((double)wishCount / itemsPerRow);

        @for (int i = 0; i < wishRows; i++)
        {
            var wishRowItems = WishedItems.Skip(i * itemsPerRow).Take(itemsPerRow);

            <div class="row mt-3">
                @foreach (var item in wishRowItems)
                {
                    <div class="col-md-4 mb-3">
                        <div class="card">
                            <img src="@item.PictureUri" class="card-img-top" alt="Product Image" style="max-width: 200px;">
                            <div class="card-body">
                                <h5 class="card-title">@item.Title</h5>
                                <button type="button" class="btn btn-danger" @onclick="() => DeleteItem(item.Id)">
                                    Delete
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
    }
    else
    {
        <p>Your wish list is empty.</p>
    }
}
