<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">WebApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="genremoviesearch">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Search by Movie Genre
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="moviesearch">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Search by Movie Title
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="genretvsearch">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Search by TV Genre
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tvsearch">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Search by TV Title
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="basket">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Basket
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wishList">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Wish List
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="paymentsHistory">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Payment History
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="orderHistory">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Order History
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
